body {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background-color: black;
}

.texto-principal {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.texto-secundario {
    font-style: italic;
    font-weight: 500;
}

.link-menu {
    text-decoration: none;
    color:rgb(0, 0, 0);
    border: 1px solid greenyellow;
    border-radius: 25px;
    padding:1em;
    background-color: greenyellow;
}